<section class="hold">
</br>
  <h1 class="title">Personal Budget App</h1>
  <div class="btns">
    <button class="btn btn-primary" type="button">
      <%= link_to "SIGN IN", new_user_session_path %>
    </button>
    <button class="btn btn-success" type="button">
      <%= link_to "SIGN UP", new_user_registration_path %>
    </button>
  </div>
</section>
