<header class="w-100 p-0 shadow mb-3 bg-body rounded fixed-top">
    <div class="d-flex text-bg-primary p-3">
      <div class="col m-0">
        <%= link_to root_path do %>
          <span class="material-symbols-outlined mt-2 badge text-bg-primary">
            arrow_back
            </span>
        <% end %>
      </div>
      <div class=" col m-1 d-flex flex-column justify-content-center">
        <h3 class="mb-2 mt-2">TRANSACTIONS</h3>
      </div>
    </div>  
    <div class="d-flex justify-content-center text-bg-primary">
      <p class="">Most recent</p>
    </div>
</header>
  