/* @import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons'; */

/* @font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Bold.ttf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('Proxima Nova Light.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

body {
  font-family: 'Proxima Nova Light', sans-serif !important;
  background: #8069a1;
  padding-top: 60px;
}

h1 {
  font-family: 'Proxima Nova Bold', sans-serif !important;
}

.added {
  background-color: #fff;
}

.image {
  width: 100px;
  height: 100px;
}

.text-decoration h5 {
  text-decoration: none;
}
