/* @import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Bold.ttf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('Proxima Nova Light.ttf');
} */

body {
  font-family: 'Proxima Nova Light', sans-serif !important;
}

h1 {
  font-family: 'Proxima Nova Bold', sans-serif !important;
}

.added {
  background-color: #fff;
}
